<!-- <nav class="navbar fixed-top nav1">
  <span class="navbar-brand mb-0 h1" style="margin-left: 200px;font-size:30px;">Remind Me</span>
  <div class="pull-right">
  <ul class="pull-right log1"  style="list-style-type: none; display: inline;" *ngIf="afAuth.authState | async as user; else showLogin" >{{ user.displayName }}</ul>
 <li (click)="logout()" class="log1">Logout</li>
 <ng-template #showLogin>
      <li (click)="login()" class="log1">Login</li>
    </ng-template>
    </div>
</nav>

<div class="container" *ngIf="afAuth.authState | async as user">


<app-add-item></app-add-item>
<app-items></app-items>
</div> -->
<nav class="navbar fixed-top nav1">
  <span class="navbar-brand mb-0 h1" style="margin-left: 200px;font-size:30px;">Remind Me</span>
</nav>

<div class="container" >


<app-add-item></app-add-item>
<app-items></app-items>
</div>