.nav1{
	background-color:#673ab7;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 0;
	color:white;
	
}
.log1{
	background-color:#673ab7;
	display: inline;
	padding-left:20px;
	padding: 10px;
	font-size: 20px; 
	color: white;
	float: left;
	cursor: pointer;
}
.log1:hover{
	color:black;
}